<h1>Login</h1>

<form action="" id="loginForm">
    <label for="">Usuario</label>
    <input type="email" name="email">

    <label for="">Contraseña</label>
    <input type="password" name="password">

    <button type="submit">Iniciar sesión</button>
</form>

<div class="p-2">
    <a href="/forgotPassword">Restaurar Contraseña</a>
</div>

<script src="/js/login.js"></script>